* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 117px;
    background-color: #ffffff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.nav-right li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.nav-right a {
    text-decoration: none;
    color: black;
}

.nav-right button {
    all: unset;
    color: #004AAD;
    font-weight: 600;
    border: 1px solid #004AAD;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
}


.hero {
    width: 100%;
    height: 632px;
    background: linear-gradient(to right, #becadb 0%, #004AAD 100%);
    padding: 50px 50px;
    display: flex;
}

.highlight {
    color: #000000;
}

.hero-left h1 {
    font-size: 60px;
    color: #ffffff;
}

.hero-left ul li p {
    color: #ffffff;
    font-size: 25px;
}

.hero-left li {
    line-height: 40px;
}

.hero-left ul li::marker {
    color: #ffffff;
}

.hero-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-apply {
    all: unset;
    width: 30%;
    background-color: #ffffff;
    color: #004AAD;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.75rem #000000);
}

.hero-right {
    position: relative;
}

.ellipse {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: 290px;
    top: 43px;
    background: #d9d9d97d;
}

.hero-right img {
    position: absolute;
    width: 600px;
    top: 66px;
    left: 170px;
}

.alumini {
    width: 100%;
    height: auto;
    background-color: #F8F9FA;
}

.alumini-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}

.alumini-text h2 {
    font-weight: 600;
}

.alumini-companies img {
    width: 100%;
    padding-top: 50px;
}

.ourPrograms {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.ourPrograms-Text {
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ourPrograms-img {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    background-color: #F5F9FF;
    border-bottom: 2px solid #4a8ce3;
    border-radius: 10px;
}

.ourPrograms-img img {
    width: 100%;
    height: 300px;
    border-radius: 9px 9px 0 0;
    object-fit: cover;
    object-position: top;
}

.ourPrograms-Text button {
    all: unset;
    color: #004AAD;
    font-weight: 600;
    border: 1px solid #004AAD;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 16px;
}

.review {
    width: 100%;
    height: 550px;
}

.review button {
    all: unset;
    color: #004AAD;
    font-weight: 600;
    border: 1px solid #004AAD;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 58px 100px;
    font-size: 16px;
}

.review-Card {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid #004AAD;
    border-radius: 10px;
    background-color: #ffffff;
}

.review-card-top {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.review-card-top img {
    width: 100px;
    height: 100px;
}

.review-card-bottom {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    padding-top: 30px;
}

.review-Text {
    width: 90%;
    margin: 0 auto;
}

.quoteRight {
    margin-left: 280px;
}

.boss-coder-container {
    width: 100%;
    height: 600px;
}

.boss-coder-Text h3 {
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
}

.boss-coder-Text p {
    text-align: center;
    font-size: 18px;
}

.boss-coder-box {
    width: 100%;
    height: 450px;
    position: relative;
    padding: 0px 150px;
    display: flex;
}

.boss-coder-left {
    margin-top: 100px;
    padding: 10px 50px;
    width: 50%;
    height: 320px;
    background-color: #F5F9FF;
    border-radius: 20px;
}

.bcText {
    display: flex;
    align-items: center;
}

.bcText img {
    margin-top: 10px;
    width: 50px;
}

.boss-coder-right {
    margin-top: 100px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 60%;
}

.boss-coder-right img {
    width: 220px;
}

.placement-container {
    height: 500px;
    width: 100%;
}

.placement-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.placement-text h3 {
    font-size: 24px;
}

.placement-text p {
    font-size: 18px;
}

.placement-card-container {
    margin-top: 20px;
    padding: 10px 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.placement-card {
    width: 200px;
    height: 300px;
    padding: 50px 5px;
    text-align: center;
    border: 1px solid #4a8ce3;
    box-shadow: 1px 1px 20px .1px;
}

.placement-card span img {
    width: 70px;
}

.placement-card h6 {
    font-size: 15px;
}

.knowMore button {
    display: block;
    all: unset;
    background-color: #ffffff;
    color: #004AAD;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 5px;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.75rem #000000);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
}

.f-left {
    width: 40%;
    padding: 15px;
}

.f-left p {
    font-size: 21px;
    width: 500px;
}


.f-right {
    padding: 15px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.f-right h6 {
    font-size: 20px;
    color: #004AAD;
}

.links {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
}

.f-right a {
    text-decoration: none;
    font-size: 19px;
    color: #000000;
}